.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  text-align: center;
  background-color: #365899;
  height: 150px;
  padding: 20px;
  color: white;
}

.AppBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
}

.TodoLists {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
